<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyn.mapper.ScoreMapper">

    <resultMap id="scoreResultMap" type="score">
<!--        <result property="session" column="session_id"/>-->
<!--        <result property="course" column="course_code"/>-->
    </resultMap>

    <resultMap id="courseResultMap" type="course">
        <result property="sessionId" column="session_id"/>
    </resultMap>
</mapper>